<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{ IsAuth$ |async }}
            <ng-container *ngIf="IsAuth$ |async; else links"></ng-container>
        </ul>
    </div>
</nav>
<!-- <nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="" routerLink="/worker" routerLinkActive="active">Worker</a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a href="" routerLink="/worker" routerLinkActive="active">Worker</a>
    </li>
</ul> -->

<ng-template #links>
    <li>
        <a href="" routerLink="/worker" routerLinkActive="active">Worker</a>
    </li>
</ng-template>