<div class="row">
    <div class="col s6">
        <worker-list [workers]="workers"></worker-list>
    </div>
    <div class="col s6">
        <worker-create-form (create)="handleCreate($event)"></worker-create-form>
    </div>
</div>