<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="col s12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<button routerLink="/login">LOGIN</button>
<button routerLink="/worker">WORKER</button>
<button (click)="logout()">LOGOUT</button>
<ul mCollapsible [options]="{accordion: false}" class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
</ul>

<ng-container #vcr></ng-container>